@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');
 .text,h1 {
    padding-bottom: 125px;
    font-family:'Open Sans', sans-serif;
}
 .left-core {
    width: 10px;
    height: 100px;
    background-color: black;
    margin-left: 35px;
}
 .left-core-top {
    width: 10px;
    height: 10px;
    background-color: black;
    margin-left: 35px;
    margin-top: -105px;
    border-radius: 100%;
}
 .center-core {
    width: 10px;
    height: 165px;
    background-color: black;
    margin-left: 50px;
    margin-top: -70px;
}
 .right-core {
    width: 10px;
    height: 100px;
    background-color: black;
    margin-left: 65px;
    margin-top: -100px;
}
 .right-core-top {
    width: 10px;
    height: 10px;
    background-color: black;
    margin-left: 65px;
    margin-top: -105px;
    border-radius: 100%;
}
 .ferring-tri-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent; 
    margin-left: 41px;
    margin-top: -80px;
}
.ferring-tri-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid black;
    border-left: 10px solid transparent; 
    margin-left: 61px;
    margin-top: -19.5px;
    transform: rotate(180deg)
}
 .ferring-box-bottom {
    width: 10px;
    height: 10px;
    background-color: black;
    margin-top: -19px;
    margin-left: 50.5px;
}
 .ferring-middle {
    width: 30px;
    height: 45px;
    background-color: black;
    margin-top: -55px;
    margin-left: 40.5px;
}
 .ferring-top {
    width: 0px;
    height: 0px;
    border-left: 15.5px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 45px solid black;
    margin-left: 40.5px;
    margin-top: -89px;
}
 .ferring-top-cut {
    height: 30px;
    width: 30px;
    background-color: white;
    margin-left: 40.5px;
    margin-top: -50px;
}
 .ferring-top-round {
    width: 17px;
    height: 19.5px;
    background-color: black;
    border-radius: 100%;
    margin-top: -7px;
    margin-left: 47px;
}